<!--    <p>
      <a href="/" class="btn btn-success btn-lg">Главная страница</a>
      <a href="/resume" class="btn btn-secondary btn-lg">Резюме</a>
      <a href="/news" class="btn btn-primary btn-lg">Мой блог &raquo;</a>
      <a href="/contact" class="btn btn-info btn-lg">Контакты</a>
      <hr>
    </p>
    <h1>{% include "mainApp/includes/some_html.html" %}</h1> -->
    <!-- <img src="{% static 'mainApp/image/111.jpg' %}" class="img-thumbnail"> -->
    <!--    <h1 class="mais" style="color:#00FF00;" >Даулет Бимаганбетов</h1> -->
    <!--  {% include "mainApp/includes/some_html.html" %} -->
