.block1  {
  width: auto; /* Ширина слоя */
  margin: 0px; /* Значение отступов */
  padding: 10px; /* Поля вокруг текста */
  /* border: 4px solid black; /* Параметры границы */
  background: #8B0000; /* Цвет фона */
 }
 .navbar-brand {
   color: #FFFFFF;
 }
 .center {
   text-align: center;
   color: #00FF00;
 }
 .mais
 {
   font-family: Arial, Helvetica, Verdana, sans-serif;
   font-weight: lighter; /* Светлое начертание */
   font: 200% serif;
   color:#00FF00;
 }
 .column {
 -webkit-column-width: 300px;
 -moz-column-width: 200px;
 column-width: 200px;
 -webkit-column-count: 3;
 -moz-column-count: 3;
 column-count: 3;
 -webkit-column-gap: 30px;
 -moz-column-gap: 30px;
 column-gap: 30px;
 font-family: 'Lobster';
}
.center1 {
  text-align: center;
  color: #001D11;
}
.right {
  text-align: right;
  color: #4D2859;
}
.font_4 {
  color:#28594D;
}
.font_3 {
  color: #000000;
}
