{% extends "mainApp/wrapper.html" %}
{% block content %}
{% load staticfiles %}
<style>
.font_4 {
  color:#28594D;
}
.font_3 {
  color: #000000;
}

</style>
<h4 class="font_4">
  <span class="font_4">
    Опыт работы
  </span>
</h4>
<hr>
<h6 class="font_3">
  <span class="font_3">
    ТОО "Astana Asset Managment" - Инженер по видео и звуку. С 1 ноября 2017 года по н.в.
  </span>
</h6>
<h4 class="font_4">
  <span class="font_4">
    Образование
  </span>
</h4>
<hr>

</head>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<body>
 <div class="column">
   <a style="color:#000900;" href="https://kuef.kz/ru/">Казахский Университет экономики финансов и международной торговли</a><br>
   <a style="color:#000900;">Вычислительная техника и программное обеспечение 2013-2017 гг.</a>
   <br><br>
 </div>
<h4 class="font_4">
  <span style="color:#28594D;">
    Дополнительная информация
  </span>
</h4>
<hr>
<a style="color:#000900;">Знание языков: французский, русский, казахский, английский</a><br>
<a style="color:#000900;">Качества: прагматичность и пунктуальность</a><br>
<a style="color:#000900;">Технические навыки: Компьютерная инженерия, Linux, Django, HTML5, CSS, Node.js, Git и т.д.</a><br>
<a style="color:#000900;">Занятие в свободное время: Книги, киберспорт и спорт</a>
{% endblock %}
