{% extends "mainApp/wrapper.html" %}
{% block content %}
{% load staticfiles %}
<h4 class="font_4">
  <span style="color:#28594D;">
    Опыт работы
  </span>
</h4>
<hr>
<h6 class="font_3">
  <span style="color:#style="000900;>
    ТОО "Astana Asset Managment" - Инженер по видео и звуку. С 1 ноября 2017 по н.в.
  </span>
</h6>
<h4 class="font_4">
  <span style="color:#28594D;">
    Образование
  </span>
</h4>
<hr>

</head>
<body>
 <div class="column">
   <a style="color:#000900;" href="https://kuef.kz/ru/">Казахский Университет экономики финансов и международной торговли</a><br>
   <a style="color:#000900;">Вычислительная техника и программное обеспечение 2013-2017</a>
   <br><br>
 </div>
<h4 class="font_4">
  <span style="color:#28594D;">
    Дополнительная информация
  </span>
</h4>
<hr>
{% endblock %}
